---
import '../styles/global.css';

import CTACard from '../components/ui/CTACard.astro';

import Layout from '../layouts/Layout.astro';
import GradientWrapper from '../components/GradientWrapper.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import HeroImageURL from '../assets/cole.png';
import SocialLinks from '../components/features/SocialLinks.astro';
import ProjectCarousel from '../components/features/ProjectCarousel.astro';
import ArticlePreview from '../components/features/ArticlePreview.astro';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const projects = [
    { id: '1', href: '#', image: 'https://placehold.co/1920x1080' },
    { id: '2', href: '#', image: 'https://placehold.co/1920x1080' },
    { id: '3', href: '#', image: 'https://placehold.co/1920x1080' },
    { id: '4', href: '#', image: 'https://placehold.co/1920x1080' },
];
---

<Layout>
    <GradientWrapper>
        <section id="Hero" class="mx-auto flex max-w-6xl items-center gap-12 px-8 pt-6 lg:gap-36">
            <Image src={HeroImageURL} alt="Cole Troester" class="] order-2 mx-auto hidden w-full max-w-[400px] lg:order-1 lg:block" />
            <div class="order-1 my-6 max-w-[720px] sm:my-12 lg:order-2 lg:my-6">
                <p class="text-2xl sm:text-3xl">Hi, I'm</p>
                <h1 class="mb-2 -ml-1.5 text-6xl text-white sm:mb-4 sm:text-8xl">Cole Troester.</h1>
                <h3 class="mb-4 text-2xl sm:mb-8 sm:text-3xl">
                    Crafting full-site builds and web apps that <strong class="text-white">drive growth</strong> and delight users.
                </h3>
                <ul class="list-inside list-disc text-lg sm:text-xl">
                    <li>Websites & Web Apps</li>
                    <li>UX & UI Design</li>
                    <li>APIs & Full-Stack</li>
                </ul>
            </div>
        </section>
        <section id="CTAs" class="mx-auto -mt-0.5 max-w-[1400px] px-8 pb-6">
            <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
                <div>
                    <CTACard
                        color="red"
                        title="Projects"
                        description="Projects that showcase technical expertise and attention to user experience."
                        buttonHref="#"
                        buttonText="Browse Portfolio"
                        className="mb-8 grid grid-cols-1 items-center gap-8 lg:grid-cols-2"
                    >
                        <ProjectCarousel projects={projects} />
                    </CTACard>

                    <CTACard
                        color="green"
                        title="Contact"
                        description="Interested in discussing potential projects or collaborations? Let's connect."
                        buttonHref="#"
                        buttonText="Let’s Connect"
                        className="flex justify-between gap-8 lg:grid lg:grid-cols-[2fr_1fr]"
                    >
                        <SocialLinks color="green" />
                    </CTACard>
                </div>

                <CTACard
                    color="blue"
                    title="Articles"
                    description="Technical insights and perspectives on modern web development practices. Exploring new frameworks, sharing lessons learned, and diving deep into the tools that shape how we build for the web."
                    buttonHref="#"
                    buttonText="View All Articles"
                    className="flex h-full flex-col gap-8"
                >
                    <div class="grid h-36 flex-grow grid-cols-1 gap-4 md:h-auto lg:grid-cols-[2fr_1fr]">
                        <ArticlePreview
                            title={posts[0].data.title}
                            description={posts[0].data.description}
                            image={posts[0].data.image.url}
                            href="#"
                        />
                        <ArticlePreview
                            title={posts[1].data.title}
                            description={posts[1].data.description}
                            image={posts[1].data.image.url}
                            href="#"
                            className="hidden lg:flex"
                        />
                    </div>
                </CTACard>
            </div>
        </section>
    </GradientWrapper>
</Layout>
