---
import '../styles/global.css';

import CTACard from '../components/ui/CTACard.astro';

import Layout from '../layouts/Layout.astro';
import GradientWrapper from '../components/GradientWrapper.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import HeroImageURL from '../assets/cole.png';
import SocialLinks from '../components/features/SocialLinks.astro';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
    <GradientWrapper>
        <section id="Hero" class="mx-auto flex max-w-6xl items-center gap-36 px-6 pt-6">
            <Image src={HeroImageURL} alt="Cole Troester" class="mx-auto max-w-[400px]" />
            <div>
                <p class="text-3xl">Hi, I'm</p>
                <h1 class="mb-4 -ml-1.5 text-8xl text-white">Cole Troester.</h1>
                <h3 class="mb-8 text-3xl">
                    Crafting full-site builds and web apps that <strong class="text-white">drive growth</strong> and delight users.
                </h3>
                <ul class="list-inside list-disc text-xl">
                    <li>Websites & Web Apps</li>
                    <li>UX & UI Design</li>
                    <li>APIs & Full-Stack</li>
                </ul>
            </div>
        </section>
        <section id="CTAs" class="mx-auto -mt-0.5 max-w-[1400px] px-8 pb-6">
            <div class="grid grid-cols-2 gap-8">
                <div>
                    <CTACard
                        color="red"
                        title="Projects"
                        description="Projects that showcase technical expertise and attention to user experience."
                        buttonHref="#"
                        buttonText="Browse Portfolio"
                        className="mb-8 grid grid-cols-2 gap-8"
                    >
                        <div class="group relative mt-1">
                            <a href="#1" class="project-item absolute top-1/2 shadow-xl">
                                <img src="https://placehold.co/1920x1080" />
                            </a>
                            <a href="#2" class="project-item absolute top-1/2 shadow-xl">
                                <img src="https://placehold.co/1920x1080" />
                            </a>
                            <a href="#3" class="project-item absolute top-1/2 shadow-xl">
                                <img src="https://placehold.co/1920x1080" />
                            </a>
                            <a href="#4" class="project-item absolute top-1/2 shadow-xl">
                                <img src="https://placehold.co/1920x1080" />
                            </a>
                        </div>
                    </CTACard>

                    <CTACard
                        color="green"
                        title="Contact"
                        description="Interested in discussing potential projects or collaborations? Let's connect."
                        buttonHref="#"
                        buttonText="Let’s Connect"
                        className="grid grid-cols-[2fr_1fr] gap-8"
                    >
                        <SocialLinks color="green" />
                    </CTACard>
                </div>

                <CTACard
                    color="blue"
                    title="Articles"
                    description="Technical insights and perspectives on modern web development practices. Exploring new frameworks, sharing lessons learned, and diving deep into the tools that shape how we build for the web."
                    buttonHref="#"
                    buttonText="View All Articles"
                    className="flex h-full flex-col gap-8"
                >
                    <div class="grid flex-grow grid-cols-[2fr_1fr] gap-4">
                        <a
                            href="#"
                            class="relative flex h-full w-full items-end overflow-hidden rounded-lg bg-gray-200 bg-cover bg-center px-4 py-4 shadow-sm"
                            style={{ backgroundImage: `url(${posts[0].data.image.url})` }}
                        >
                            <div class="absolute inset-0 z-0 bg-gradient-to-b from-transparent to-gray-900/90 to-70%"></div>
                            <div class="relative bottom-0 z-10 w-full">
                                <p class="mb-1 line-clamp-1 truncate text-xl text-white">
                                    {posts[0].data.title}
                                </p>
                                <p class="line-clamp-1 truncate text-sm">
                                    {posts[0].data.description}
                                </p>
                            </div>
                        </a>
                        <a
                            href="#"
                            class="relative flex h-full w-full items-end overflow-hidden rounded-lg bg-gray-200 bg-cover bg-center px-4 py-4 shadow-sm"
                            style={{ backgroundImage: `url(${posts[1].data.image.url})` }}
                        >
                            <div class="absolute inset-0 z-0 bg-gradient-to-b from-transparent to-gray-900/95 to-50%"></div>
                            <div class="relative bottom-0 z-10 w-full">
                                <p class="mb-1 line-clamp-1 truncate text-xl text-white">
                                    {posts[1].data.title}
                                </p>
                                <p class="line-clamp-1 truncate text-sm">
                                    {posts[1].data.description}
                                </p>
                            </div>
                        </a>
                    </div>
                </CTACard>
            </div>
        </section>
    </GradientWrapper>
</Layout>

<style lang="scss">
    @use 'sass:math';

    $duration: 20s;
    $items: 4;

    @keyframes project-carousel {
        0%,
        22%,
        100% {
            left: 0;
            width: 33.333333%;
            opacity: 0.5;
            z-index: 1;
            transform: translateX(0) translateY(-50%);
            filter: blur(0px);
        }

        23%,
        24% {
            filter: blur(1px);
        }

        25%,
        47% {
            left: 50%;
            top: 50%;
            width: 66.666667%;
            opacity: 1;
            z-index: 10;
            transform: translateX(-50%) translateY(-50%);
            filter: blur(0px);
        }

        48%,
        49% {
            filter: blur(2px);
        }

        50%,
        72% {
            left: auto;
            right: 0;
            width: 33.333333%;
            opacity: 0.5;
            z-index: 1;
            transform: translateX(0) translateY(-50%);
            filter: blur(0px);
        }

        73%,
        74% {
            filter: blur(1px);
        }

        75%,
        80% {
            right: 0;
            width: 0%;
            opacity: 0;
            z-index: 1;
            transform: translateX(0) translateY(-50%);
            filter: blur(0px);
        }

        81%,
        97% {
            right: 0;
            width: 0%;
            opacity: 0;
            z-index: 1;
            transform: translateX(0) translateY(-50%);
            filter: blur(0px);
        }

        98%,
        99% {
            filter: blur(1px);
        }
    }

    .project-item {
        animation: project-carousel $duration forwards;

        &:nth-child(1) {
            animation-delay: #{math.div(-$duration, $items) * 0};
            animation-iteration-count: 3;
        }
        &:nth-child(2) {
            animation-delay: #{math.div(-$duration, $items) * 1};
            animation-iteration-count: 3.25;
        }
        &:nth-child(3) {
            animation-delay: #{math.div(-$duration, $items) * 2};
            animation-iteration-count: 3.5;
        }
        &:nth-child(4) {
            animation-delay: #{math.div(-$duration, $items) * 3};
            animation-iteration-count: 3.75;
        }
    }
</style>
